#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
}
/* 
body{
  display:block !important;
  width:auto !important;
  height:auto !important;
} */

.page-wrapper{
  position: relative;
  width:100%;
  height:100%;
}
.page-wrapper {
  -webkit-tap-highlight-color: transparent;
}

.slide-enter {
  transform: translateX(100%);
  opacity:0
}

.slide-enter-active {
  transform: translateX(0);
  opacity:1;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.slide-exit {
  transform: translateX(0);
  opacity:1;
}

.slide-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
